Django==2.2.6
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
django-cors-middleware==1.4.0
django-bleach==0.5.3
django-enumfields==1.0.0
drf-nested-routers==0.91
pytz==2019.2
GitPython==3.0.2
lxml==4.6.3
pandas==0.25.1
hgapi==1.7.4
django-multi-email-field==0.5.1
django-background-tasks==1.2.0
scipy==1.3.1

